:root {
    --color-dark: #A7727D;
    --color-mid: #EDDBC7;
    --color-light: #F9F5E7;
}

img {
    max-width: 25ch;
}

body {
    margin: 0;
    padding: 0 20vw;
    font-family: "Roboto", sans-serif;
    background-color: var(--color-light);
}

h1,h2 {
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    color: var(--color-dark);
}

li::marker {
    color: var(--color-dark);
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 2rem 0;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid var(--color-dark);
    margin: 3rem;
}

button {
    width: 25ch;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    color: var(--color-dark);
    padding: 1rem;
}

button:hover {
    cursor: pointer;
    color: var(--color-light);
    background-color: var(--color-dark);
}

input[type="text"] {
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    padding: 1rem;
}

input[type="text"]:focus {
    outline: 2px solid var(--color-dark);
}

.inputs {
    text-align: center;
}

.hide {
    top: -20vh;
    transition: .5s;
}

.show {
    top: 1rem;
    transition: .5s;
}

#close-toast {
    width: fit-content;
    padding: .5rem;
}

#toast {
    position: fixed;
    box-sizing: border-box;
    width: 50vw;
    left: 25vw;
    padding: .5rem;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    background-color: var(--color-light);
}

#toast > ul {
    padding: 0 2.5rem 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#toast > div {
    display: flex;
    justify-content: end;
}

#input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem;
}

#cart-items {
    display: block;
    padding: 0;
    width: fit-content;
}

#cart-items > li {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    padding: 1rem;
    border-radius: 5px;
    color: black;
    align-items: center;
    justify-content: space-between;
}

#cart-items > li:has(input:checked) {
    text-decoration: line-through;
}

#cart-items svg:hover {
    cursor: pointer;
}

#cart-items > li:hover {
    background-color: var(--color-mid);
}

