.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}